#placingAnOrder {
	.placingAnOrder {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 87ch;
		.PlacingAnOrderBlock {
			border-radius: 14.39px;
			background: rgb(255, 255, 255);
			width: 560px;
			height: 525px;
			padding: 40px 60px 76px 60px;
			h4 {
				color: rgb(7, 32, 70);
				font-family: Open Sans;
				font-size: 33.09px;
				font-weight: 700;
				line-height: 45px;
				letter-spacing: 0%;
				text-align: center;
			}
			h6 {
				color: rgb(123, 118, 118);
				font-family: Open Sans;
				font-size: 23.02px;
				font-weight: 400;
				line-height: 31px;
				letter-spacing: 0%;
				text-align: center;
				margin: 12px 0px 22px 0;
			}
			input {
				box-sizing: border-box;
				border: 2.35px solid rgb(7, 32, 70);
				border-radius: 7.92px;
				color: rgb(7, 32, 70);
				font-family: Open Sans;
				height: 69px;
				font-size: 18.82px;
				font-weight: 700;
				line-height: 26px;
				letter-spacing: 0%;
				margin: 20px 0;
				text-align: left;
				display: flex;
				color: rgb(7, 32, 70);
				font-family: Open Sans;
				font-size: 18.82px;
				font-weight: 700;
				line-height: 26px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: uppercase;
				align-items: center;
				justify-content: center;
				width: 100%;
				text-transform: uppercase;
			}
			input::placeholder {
				color: rgb(7, 32, 70);
				font-family: Open Sans;
				font-size: 18.82px;
				font-weight: 700;
				line-height: 26px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: uppercase;
			}
			button {
				box-sizing: border-box;
				border: 1.29px solid rgb(134, 7, 7);
				border-radius: 7px;
				height: 69px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				border: none;
				background: rgb(7, 32, 70);
				color: rgb(255, 255, 255);
				font-family: Montserrat;
				font-size: 20px;
				font-weight: 600;
				line-height: 24px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: uppercase;
			}
		}
	}
}
