#basket {
	.basket {
		margin-top: 2pc;
		.basketProductInPrice {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.basketProducts {
				width: 898px;
				height: 358px;
				padding: 26px 28px 40px 41px;
				border-radius: 10px;
				background: rgb(255, 255, 255);
				.basketProductCountProduct {
					display: flex;
					align-items: end;
					gap: 5px;
					h3 {
						color: rgb(0, 0, 0);
						font-family: Open Sans;
						font-size: 19px;
						font-weight: 600;
						line-height: 26px;
						letter-spacing: 0%;
						text-align: left;
					}
					h6 {
						color: rgb(123, 118, 118);
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 22px;
						letter-spacing: 0%;
						text-align: left;
					}
				}
				.basketProduct {
					margin-top: 20px;
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					.basketProductImgName {
						display: flex;
						align-items: flex-start;
						gap: 10px;
						img {
							width: 100px;
							height: 108px;
							border-radius: 16px;
						}
						.BasketProductNamePrice {
							margin-top: 0.5pc;
							h3 {
								color: rgb(0, 0, 0);
								font-family: Open Sans;
								font-size: 19px;
								font-weight: 600;
								line-height: 26px;
								letter-spacing: 0%;
								text-align: left;
							}
							h6 {
								color: rgb(123, 118, 118);
								font-family: Open Sans;
								font-size: 16px;
								font-weight: 400;
								line-height: 22px;
								letter-spacing: 0%;
								text-align: left;
							}
						}
					}
					.basketCounter {
						display: flex;
						align-items: center;
						margin-top: 0.5pc;
						gap: 10px;
						button {
							border-radius: 4px;
							background: rgb(217, 217, 217);
							width: 24px;
							display: flex;
							align-items: center;
							justify-content: center;
							border: none;
							height: 24px;
						}
						h3 {
							color: rgb(0, 0, 0);
							font-family: Open Sans;
							font-size: 19px;
							font-weight: 600;
							line-height: 26px;
							letter-spacing: 0%;
							text-align: left;
						}
					}
					.basketPrice {
						margin-top: 0.5pc;
						h3 {
							color: rgb(0, 0, 0);
							font-family: Open Sans;
							font-size: 20px;
							font-weight: 600;
							line-height: 27px;
							letter-spacing: 0%;
							text-align: left;
						}
						h6 {
							color: rgb(123, 118, 118);
							font-family: Open Sans;
							font-size: 15px;
							font-weight: 600;
							line-height: 20px;
							letter-spacing: 0%;
							text-align: right;
							text-decoration-line: line-through;
							-moz-text-decoration-line: line-through;
						}
					}
				}
			}
			.basketCreate {
				width: 426px;
				height: 358px;
				border-radius: 10px;
				padding: 44px 31px 34px 31px;
				background: rgb(255, 255, 255);
				h3 {
					color: rgb(7, 32, 70);
					font-family: Open Sans;
					font-size: 23px;
					font-weight: 700;
					line-height: 31px;
					letter-spacing: 0%;
					text-align: left;
				}
				.basketProductNameInPrice1 {
					display: flex;
					align-items: center;
					justify-content: space-between;
					h6 {
						color: rgb(123, 118, 118);
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 22px;
						letter-spacing: 0%;
						text-align: left;
						margin: 15px 0 20px 0;
					}
				}
				.basketProductNameInPrice2 {
					display: flex;
					align-items: center;
					justify-content: space-between;
					h3 {
						color: rgb(7, 32, 70);
						font-family: Open Sans;
						font-size: 26px;
						margin-bottom: 20px;
						font-weight: 700;
						line-height: 35px;
						letter-spacing: 0%;

						text-align: left;
					}
				}
				button {
					width: 368px;
					height: 55px;
					border: none;
					color: rgb(255, 255, 255);
					font-family: Open Sans;
					font-size: 23px;
					margin: 15px 0;
					font-weight: 600;
					line-height: 31px;
					letter-spacing: 0%;
					text-align: left;

					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 9px;
					background: linear-gradient(
						95.71deg,
						rgb(111, 125, 255) 1.473%,
						rgb(127, 14, 217) 80.658%
					);
				}
			}
		}
		.basketCreateAdresInTell {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 16px;
			margin-top: 30px;
			.basketAdresInTell {
				border-radius: 10px;
				width: 898px;
				padding: 20px 0px 0px 41px;
				height: 128px;
				background: rgb(255, 255, 255);
				h3 {
					color: rgb(7, 32, 70);
					font-family: Open Sans;
					font-size: 23px;
					font-weight: 700;
					line-height: 31px;
					letter-spacing: 0%;
					text-align: left;
				}
				h4 {
					color: rgb(218, 118, 0);
					font-family: Open Sans;
					font-size: 23px;
					font-weight: 700;
					line-height: 31px;
					margin-top: 0.5pc;

					letter-spacing: 0%;
					text-align: left;
				}
			}
			.basketCreateSum {
				padding: 20px 0px 0px 41px;

				border-radius: 10px;
				width: 898px;
				height: 128px;
				background: rgb(255, 255, 255);
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				h3 {
					color: rgb(7, 32, 70);
					font-family: Open Sans;
					font-size: 23px;
					font-weight: 700;
					line-height: 31px;
					letter-spacing: 0%;
					text-align: left;
				}
				h6 {
					color: rgb(0, 0, 0);
					font-family: Open Sans;
					font-size: 19px;
					font-weight: 600;
					line-height: 22px;
					letter-spacing: 0%;
					text-align: left;
					margin-top: 0.5pc;
					width: 400px;
				}
			}
		}
	}
}
