#headerBasket {
	background: rgb(255, 255, 255);
	width: 100%;
	height: 91.26px;
	display: flex;
	align-items: center;
	justify-content: center;
	.headerBasket {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.headerNavs {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 800px;
			h3 {
				color: rgb(7, 32, 70);
				font-family: Open Sans;
				font-size: 15.87px;
				font-weight: 700;
				line-height: 22px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: uppercase;
			}
			h3:hover {
				color: rgb(57, 14, 230);
				font-family: Open Sans;
				font-size: 15.87px;
				font-weight: 700;
				line-height: 22px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: uppercase;
			}
		}
	}
}
